.footer {

	background: $secondary-color;
	padding: 40px 0 0;
	margin: 40px 0 0;
	color: #FFF;

	&--block{
		@include span-columns(3);
		font-size: em(13);
		margin-bottom: 40px;
		li{
			border-bottom: 1px solid lighten($secondary-color, 4);
			padding: 5px 0;
		}
	}

	&--disclaimer{
		background: darken($secondary-color, 5);
		padding: 20px 0;
		p{
			font-size: em(12);
			margin: 0;
		}
		a{
			font-weight: 700;
		}
	}

	a{
		color: #FFF;
	}
}