*{ outline: none; }

html{
	-webkit-font-smoothing: antialiased;
}

a{
	text-decoration: none;
}

.block-title{
  h2{
    position: relative;
    display: inline-block;
    padding: 0 0 10px 0;
    text-transform: uppercase;
    color: darken($base-font-color, 10);
    font-weight: 700;
    &:after{
      background: darken($base-font-color, 10);
      content: '';
      height: 2px;
      position: absolute;
      top: 100%;
      width: 40%;
      left: 0;
    }
  }
  a{
    float: right;
  }
}

.container{
	@include outer-container();
}

.page-links {
  $pagination-border-color: $base-border-color;
  $pagination-border: none;
  $pagination-background: transparent;
  $pagination-hover-background: lighten($pagination-border-color, 5);
  $pagination-color: $base-font-color;

  font-size: em(12);
  padding: 15px 0 0 0;
  text-align: center;

  @include clearfix;

  .pages{
  	float: left;
  }

  ul {
    display: inline;
    float: right;

    li {
      display: inline;
      margin: 0 2px;
    }

    ul li {
      display: none;
      
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        display: inline;
      }

      @include media($large-screen) {
        display: inline;
      }
    }

    li a {
      // @include transition (all 0.2s ease-in-out);
      background: $pagination-background;
      border-radius: $base-border-radius;
      border: $pagination-border;
      color: $pagination-color;
      padding: $base-spacing/4 $gutter/2;


      &:hover,
      &:focus {
        background: $pagination-hover-background;
        // color: $base-link-color;
      }

      &:active {
        background: $pagination-background;
      }

      &.active{
      	background: $primary-color;
      	color: #FFF;
      }
    }

    li.active span{
		background: $primary-color;
      	color: #FFF;
		border-radius: $base-border-radius;
		border: $pagination-border;
		padding: $base-spacing/4 $gutter/2;
    }
  }
}


.features-wrap{
  @include clearfix;
  margin: 40px 0;
  &--feature{
    @include span-columns(4);
    padding: 20px;
    // border: 1px solid darken($base-background-color, 8);
    background: lighten($base-background-color, 4);
    p{
      margin: 0;
      font-size: em(12);
    }
    .icon{
      float:left;
      font-size: 50px;
      padding: 0 20px 0 0;
      display: inline-block;
      width: 80px;
      text-align: center;
    }
  }
}

$flash-red: #FBE3E4;
$flash-yellow: #FFF6BF;
$flash-green: #E6EFC2;

%flash-base {
  display: block;
  font-weight: bold;
  margin-bottom: 40px;
  padding: 20px;
  font-size: em(12);
}

$flashes: (alert: $flash-yellow, error: $flash-red, notice: lighten($base-accent-color, 40), success: $flash-green);

@each $flash, $color in $flashes {
  .flash-#{$flash} {
    @extend %flash-base;
    background: $color;
    color: darken($color, 60);

    a {
      color: darken($color, 70);
      border-bottom: 1px solid transparentize(darken($color, 70), .7);

      &:hover {
        color: darken($color, 90);
      }
    }
  }
}