.top-bar{

	@include clearfix();
	
	color: $base-font-color;
	padding: 7px 0;

	a{
		color: $base-font-color;
		&:hover{
			color: $primary-color;
		}
	}

	p{
		float: left;
		margin: 0;
		font-size: em(12);
	}

	.user-menu{
		float: right;
		font-size: em(12);
		ul{
			margin: 0;
			li{
				display: inline;
			}
			a{
				display: inline-block;
				padding: 0 8px;
			}
			img{
				vertical-align: middle;
			}
			li+li a{
				border-left: 1px solid darken($base-background-color, 8);
			}
		}
	}
}



.header{

	@include clearfix;
	background: $secondary-color;
	padding: 40px 0;

	&--logo{
		float: left;
	}

	&--cart{
		float:right;
		font-size: em(13);
		a{
			color: #FFF;
		}
	}
}


.navigation{

	@include clearfix;
	@include linear-gradient( $secondary-color, darken($secondary-color, 3));
	box-shadow: inset 0 1px 0 lighten($secondary-color, 5);

	margin: 0 0 40px 0;

	ul{
		margin: 0;
		padding: 0;
		li{
			float: left;	
			text-transform: uppercase;
			font-size: em(13);	
		}
		a{
			display: block;
			float: left;
			padding: 15px 18px;
			color: #FFF;
			@include transition( background 0.2s ease-in-out );
			&:hover{
				background: $primary-color;
			}
		}
	}

}