.sidebar{
	@include span-columns(3);

	&--widget{
		margin: 0 0 15px 0;
		h4{
			background: $secondary-color;
			color: #FFF;
			font-size: em(14);
			padding: 10px;
		}

		&_content{
			border: 1px solid darken($base-background-color, 8);
			border-top: 0;
			padding: 15px;
			p{ margin: 0; }
		}

		.links{
			font-size: em(12);
			border: 1px solid darken($base-background-color, 8);
			border-top: 0;

			a{
				display: block;
				padding: 10px;
				color: $base-font-color;
				&:hover{
					color: $primary-color;
					background-color: lighten($base-background-color, 4);
				}	
			}
			li+li a{
				border-top: 1px solid darken($base-background-color, 8);
			}
		}
	}
}

.primary-content{
	@include span-columns(9);
}