.type {
	border-bottom: 1px solid;
	display: inline-block;
	font-family: $sans-serif-2;
	font-size: .7em;
	font-weight: 900;
	letter-spacing: 1px;
	margin-bottom: 2em;
	padding: .1em 0;
	text-align: left;
	text-transform: uppercase;
}

h1 {
	font-family: $sans-serif-2;
	font-size: 2em;
	font-weight: 600;
	margin-bottom: .6em;
	span{
		color: $primary-color;
	}
}

h2 {
	font-family: $sans-serif;
	font-size: 1.2em;
	font-weight: 400;
	line-height: 1.4em;
	margin-bottom: 1.2em;
}

code {
	white-space: nowrap;
	font-family: monaco;
	background: lighten($secondary-color, 5%);
	border: 1px solid darken($secondary-color, 2%);
	border-radius: $base-border-radius * 1.5;
	padding: .1em .4em;
	font-size: .65em;
	font-style: normal;
}

h3 {
	font-family: $sans-serif-2;
	font-size: 1em;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.4em;
	margin-bottom: .5em; 
}

p.date {
	color: transparentize($base-font-color, .6);
	font-family: $sans-serif;
	font-size: .8em;
	margin-bottom: .5em;
}

p {
	font-family: $sans-serif;
	font-weight: 300;
	letter-spacing: 1;
	margin-bottom: 1.5em;
	font-size: .9em;

	span {
		font-family: $sans-serif;
		font-weight: 600;
		font-size: .8em;
		text-transform: uppercase;
	}
}

hr {
	width: 3em;
}

a.read-more {
	display: inline-block;
	font-family: $sans-serif;
	font-weight: 700;
	font-size: .8em;
	text-transform: uppercase;
	margin-left: .2em;
	position: relative;

	span {
	  position: absolute;
	  font-size: 1.7em;
	  top: -2px;
	  right: -10px;
	}
}

p.author {
	font-family: $sans-serif;
	font-style: italic;
}


.breadcrumbs{
	font-size: em(12);
	color: lighten($secondary-color, 20);
	span{
		color: #FFF;
	}
}