@import "neat/neat-helpers";



$sans-serif: 'Oxygen', sans-serif;
$sans-serif-2: 'Titillium Web', sans-serif;


$primary-color: $base-accent-color;
$secondary-color: #21222c;

$grey: #777;
$grey-dark: #373739;


$global-radius: 0;


//Breakpoints
// $large-screen: new-breakpoint(max-width 480px);
$medium-screen: em(640);
$large-screen: em(860);

$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 8);
$mobile: new-breakpoint(max-width 480px);