.thread--post{
	$post-background-color: lighten( $base-background-color, 8 );

	background: $post-background-color;
	@include pad;

	margin: 0 0 20px 0;

	&_user{

		@include clearfix;
		padding: 0 0 10px 0;

		border-bottom: 1px solid darken($post-background-color, 5);

		.rep{
			color: darken($post-background-color, 15);
		}

		img{
			width: 8%;
			padding: 0 2% 0 0;
			float: left;
		}

		&-info{
			h3{
				text-transform: none;
				margin: 0;
				line-height: 1;
				a{
					color: $base-font-color;
				}
			}
			p{
				margin: 0;
				font-size: em(12);
				color: lighten($base-font-color, 5);
				font-weight: 400;
			}
		}
	}

	&_body{
		padding: 20px 0;
		font-size: em(12);
	}

	.mod-opts{
		text-align: right;
		font-size: em(12);
	}
}

.thread h1{display: none;}