.project-grid{
	.project{
		@include span-columns(12);
		// @include omega(3n);
		margin-bottom: flex-gutter(9);

		@include media($medium-screen) {
		  @include span-columns(4);
		  @include omega(3n);
		}
	}
}

.project-grid-4up{
	.project{
		@include span-columns(12);
		// @include omega(3n);
		margin-bottom: flex-gutter(9);

		@include media($medium-screen) {
		  @include span-columns(3);
		  @include omega(4n);
		}
	}
}


.project-grid, .project-grid-4up{
	@include clearfix;
}

.project{
	&--image{

		overflow: hidden;
		position: relative;
		display: block;

		img{
			display: block;
		}


		&_overlay{
			position: absolute;
			background-color: $secondary-color;
			width:100%;
			height: 100%;
			opacity: 0;
			@include transition( all 0.2s ease-in-out );
			display: block;
			left: 0;
			top: 0;
		}

		&_buttons{
			top: 40%;
			text-align: center;
			width: 100%;
			opacity: 0;
			margin-top: -10px;
			position: absolute;
			@include transition( all 0.2s ease-in-out );
			span{
				padding: 5px 10px;
				display:inline-block;
				background-color: $primary-color;
				color: #FFF;
				font-size: em(12);
			}
		}

		&:hover &_overlay{
			opacity: .7;
		}

		&:hover &_buttons{
			top: 50%;
			opacity: 1;
		}

	}

	&--info{
		text-align: center;
		padding: 15px 0 0;
		h4{
			font-size: em(14);
			font-weight: 400;
		}
		a{
			color: $base-font-color;
		}
		a:hover{
			color: $primary-color;
		}
		.price{
			font-weight: bold;
			margin: 0;
		}
	}
}