.user--info{

	@include span-columns(3);
	padding: 20px;
	background-color: lighten($base-background-color, 5);
	text-align: center;

	&_avatar{
		margin-right: 15px;
	}

	&_info{
		text-align: left;
		h2{
			font-size: em(24);
			margin: 0;
			font-weight: bold;
		}
		ul{
			width: 100%;
		}
		li+li{
			border-top: 1px solid darken($base-background-color, 5);
		}

		li{
			font-size: em(13);
			padding: 10px 0;
			span{
				float: right;
				background: $primary-color;
				border-radius: 5px;
				color: #FFF;
				padding: 0 5px;
			}
		}
	}

}

.user--posts{
	@include span-columns(9);
	h2{
		font-size: em(32);
		font-weight: bold;
	}
}