.accordion-tabs-minimal {
  $tab-border-color: darken($base-background-color, 8);
  $tab-border: 1px solid $tab-border-color;
  $tab-content-background: $base-background-color;
  $tab-active-background: $tab-content-background;
  $tab-inactive-color: $base-background-color;
  $tab-inactive-hover-color: darken($light-gray, 5);
  $tab-mode: $medium-screen;

  @include clearfix;

  li.tab-header-and-content {
    @include media($tab-mode) {
      display: inline;
    }
  }

  a.tab-link {
    background-color: $tab-inactive-color;
    color: $dark-gray;
    display: block;
    font-weight: 400;
    padding: 8px 15px;
    margin-bottom: 20px;
    border: $tab-border;
    @include transition(none);
    font-size: em(13);

    @include media($tab-mode) {
      display: inline-block;
    }

    &:hover {
      color: $base-link-color;
    }

    &:focus {
      outline: none;
    }

    &.is-active {
      border-bottom: 0;
      background: $primary-color;
      color: #FFF;

      @include media($tab-mode) {
        border-color: $primary-color;
      }
    }
  }

  .tab-content {
    display: none;

    @include media($tab-mode) {
      float: left;
    }
  }
}