/* FORUM THEMER (c) 2014
 * Jamie Watson 
 * http://www.jamiewatson.me
 */
@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #fb1b80;
  border-radius: 0;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none; }
  button:hover,
  input[type="submit"]:hover {
    background-color: #c6035b;
    color: white; }
  button:disabled,
  input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

.flash-alert, .flash-error, .flash-notice, .flash-success {
  font-weight: bold;
  margin-bottom: 0.75em;
  padding: 0.75em; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: #f3f4f5;
  color: #677081;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #fb1b80;
  text-decoration: none; }
  a:hover {
    color: #c6035b; }
  a:active, a:focus {
    color: #c6035b;
    outline: none; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #DDD;
  color: #8f97a6;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #abb1bc;
  font-style: italic; }
  cite:before {
    content: "\2014 \00A0"; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0;
  border: 1px solid #DDD;
  box-shadow: 0;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #DDD; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #fb1b80;
    box-shadow: 0;
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.type {
  border-bottom: 1px solid;
  display: inline-block;
  font-family: "Titillium Web", sans-serif;
  font-size: .7em;
  font-weight: 900;
  letter-spacing: 1px;
  margin-bottom: 2em;
  padding: .1em 0;
  text-align: left;
  text-transform: uppercase; }

h1 {
  font-family: "Titillium Web", sans-serif;
  font-size: 2em;
  font-weight: 600;
  margin-bottom: .6em; }
  h1 span {
    color: #fb1b80; }

h2 {
  font-family: "Oxygen", sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.4em;
  margin-bottom: 1.2em; }

code {
  white-space: nowrap;
  font-family: monaco;
  background: #2c2d3b;
  border: 1px solid #1d1d26;
  border-radius: 0;
  padding: .1em .4em;
  font-size: .65em;
  font-style: normal; }

h3 {
  font-family: "Titillium Web", sans-serif;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.4em;
  margin-bottom: .5em; }

p.date {
  color: rgba(103, 112, 129, 0.4);
  font-family: "Oxygen", sans-serif;
  font-size: .8em;
  margin-bottom: .5em; }

p {
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
  letter-spacing: 1;
  margin-bottom: 1.5em;
  font-size: .9em; }
  p span {
    font-family: "Oxygen", sans-serif;
    font-weight: 600;
    font-size: .8em;
    text-transform: uppercase; }

hr {
  width: 3em; }

a.read-more {
  display: inline-block;
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  font-size: .8em;
  text-transform: uppercase;
  margin-left: .2em;
  position: relative; }
  a.read-more span {
    position: absolute;
    font-size: 1.7em;
    top: -2px;
    right: -10px; }

p.author {
  font-family: "Oxygen", sans-serif;
  font-style: italic; }

.breadcrumbs {
  font-size: 0.75em;
  color: #4d4f66; }
  .breadcrumbs span {
    color: #FFF; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }

.slick-track:before, .slick-track:after {
  content: "";
  display: table; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }

[dir="rtl"] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Arrows */
.slick-prev, .slick-next {
  position: absolute;
  display: block;
  height: 40px;
  width: 40px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none; }

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent; }

.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
  opacity: 1; }

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  opacity: 0.25; }

.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: 0; }

[dir="rtl"] .slick-prev {
  left: auto;
  right: 0; }

.slick-prev:before {
  content: "←"; }

[dir="rtl"] .slick-prev:before {
  content: "→"; }

.slick-next {
  right: 0; }

[dir="rtl"] .slick-next {
  left: 0;
  right: auto; }

.slick-next:before {
  content: "→"; }

[dir="rtl"] .slick-next:before {
  content: "←"; }

/* Dots */
.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%; }

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer; }

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none; }

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1; }

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75; }

/*# sourceMappingURL=slick.css.map */
* {
  outline: none; }

html {
  -webkit-font-smoothing: antialiased; }

a {
  text-decoration: none; }

.block-title h2 {
  position: relative;
  display: inline-block;
  padding: 0 0 10px 0;
  text-transform: uppercase;
  color: #505765;
  font-weight: 700; }
  .block-title h2:after {
    background: #505765;
    content: '';
    height: 2px;
    position: absolute;
    top: 100%;
    width: 40%;
    left: 0; }
.block-title a {
  float: right; }

.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

.page-links {
  font-size: 0.75em;
  padding: 15px 0 0 0;
  text-align: center; }
  .page-links:after {
    content: "";
    display: table;
    clear: both; }
  .page-links .pages {
    float: left; }
  .page-links ul {
    display: inline;
    float: right; }
    .page-links ul li {
      display: inline;
      margin: 0 2px; }
    .page-links ul ul li {
      display: none; }
      .page-links ul ul li:nth-child(1), .page-links ul ul li:nth-child(2), .page-links ul ul li:nth-child(3) {
        display: inline; }
      @media screen and (min-width: 53.75em) {
        .page-links ul ul li {
          display: inline; } }
    .page-links ul li a {
      background: transparent;
      border-radius: 0;
      border: none;
      color: #677081;
      padding: 0.375em 0.809em; }
      .page-links ul li a:hover, .page-links ul li a:focus {
        background: #eaeaea; }
      .page-links ul li a:active {
        background: transparent; }
      .page-links ul li a.active {
        background: #fb1b80;
        color: #FFF; }
    .page-links ul li.active span {
      background: #fb1b80;
      color: #FFF;
      border-radius: 0;
      border: none;
      padding: 0.375em 0.809em; }

.features-wrap {
  margin: 40px 0; }
  .features-wrap:after {
    content: "";
    display: table;
    clear: both; }
  .features-wrap--feature {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    padding: 20px;
    background: #fefefe; }
    .features-wrap--feature:last-child {
      margin-right: 0; }
    .features-wrap--feature p {
      margin: 0;
      font-size: 0.75em; }
    .features-wrap--feature .icon {
      float: left;
      font-size: 50px;
      padding: 0 20px 0 0;
      display: inline-block;
      width: 80px;
      text-align: center; }

.flash-alert, .flash-error, .flash-notice, .flash-success {
  display: block;
  font-weight: bold;
  margin-bottom: 40px;
  padding: 20px;
  font-size: 0.75em; }

.flash-alert {
  background: #FFF6BF;
  color: #8c7800; }
  .flash-alert a {
    color: #594c00;
    border-bottom: 1px solid rgba(89, 76, 0, 0.3); }
    .flash-alert a:hover {
      color: black; }

.flash-error {
  background: #FBE3E4;
  color: #96151b; }
  .flash-error a {
    color: #6a0f13;
    border-bottom: 1px solid rgba(106, 15, 19, 0.3); }
    .flash-error a:hover {
      color: #110203; }

.flash-notice {
  background: #ffe3f0;
  color: #ad0350; }
  .flash-notice a {
    color: #7b0239;
    border-bottom: 1px solid rgba(123, 2, 57, 0.3); }
    .flash-notice a:hover {
      color: #17000a; }

.flash-success {
  background: #E6EFC2;
  color: #56651a; }
  .flash-success a {
    color: #333c10;
    border-bottom: 1px solid rgba(51, 60, 16, 0.3); }
    .flash-success a:hover {
      color: black; }

.top-bar {
  color: #677081;
  padding: 7px 0; }
  .top-bar:after {
    content: "";
    display: table;
    clear: both; }
  .top-bar a {
    color: #677081; }
    .top-bar a:hover {
      color: #fb1b80; }
  .top-bar p {
    float: left;
    margin: 0;
    font-size: 0.75em; }
  .top-bar .user-menu {
    float: right;
    font-size: 0.75em; }
    .top-bar .user-menu ul {
      margin: 0; }
      .top-bar .user-menu ul li {
        display: inline; }
      .top-bar .user-menu ul a {
        display: inline-block;
        padding: 0 8px; }
      .top-bar .user-menu ul img {
        vertical-align: middle; }
      .top-bar .user-menu ul li + li a {
        border-left: 1px solid #dde0e2; }

.header {
  background: #21222c;
  padding: 40px 0; }
  .header:after {
    content: "";
    display: table;
    clear: both; }
  .header--logo {
    float: left; }
  .header--cart {
    float: right;
    font-size: 0.8125em; }
    .header--cart a {
      color: #FFF; }

.navigation {
  background-color: #21222c;
  background-image: -webkit-linear-gradient(#21222c, #1a1b23);
  background-image: linear-gradient(#21222c, #1a1b23);
  box-shadow: inset 0 1px 0 #2c2d3b;
  margin: 0 0 40px 0; }
  .navigation:after {
    content: "";
    display: table;
    clear: both; }
  .navigation ul {
    margin: 0;
    padding: 0; }
    .navigation ul li {
      float: left;
      text-transform: uppercase;
      font-size: 0.8125em; }
    .navigation ul a {
      display: block;
      float: left;
      padding: 15px 18px;
      color: #FFF;
      -webkit-transition: background 0.2s ease-in-out;
      -moz-transition: background 0.2s ease-in-out;
      transition: background 0.2s ease-in-out; }
      .navigation ul a:hover {
        background: #fb1b80; }

.footer {
  background: #21222c;
  padding: 40px 0 0;
  margin: 40px 0 0;
  color: #FFF; }
  .footer--block {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    font-size: 0.8125em;
    margin-bottom: 40px; }
    .footer--block:last-child {
      margin-right: 0; }
    .footer--block li {
      border-bottom: 1px solid #2a2b38;
      padding: 5px 0; }
  .footer--disclaimer {
    background: #16171d;
    padding: 20px 0; }
    .footer--disclaimer p {
      font-size: 0.75em;
      margin: 0; }
    .footer--disclaimer a {
      font-weight: 700; }
  .footer a {
    color: #FFF; }

.sidebar {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .sidebar:last-child {
    margin-right: 0; }
  .sidebar--widget {
    margin: 0 0 15px 0; }
    .sidebar--widget h4 {
      background: #21222c;
      color: #FFF;
      font-size: 0.875em;
      padding: 10px; }
    .sidebar--widget_content {
      border: 1px solid #dde0e2;
      border-top: 0;
      padding: 15px; }
      .sidebar--widget_content p {
        margin: 0; }
    .sidebar--widget .links {
      font-size: 0.75em;
      border: 1px solid #dde0e2;
      border-top: 0; }
      .sidebar--widget .links a {
        display: block;
        padding: 10px;
        color: #677081; }
        .sidebar--widget .links a:hover {
          color: #fb1b80;
          background-color: #fefefe; }
      .sidebar--widget .links li + li a {
        border-top: 1px solid #dde0e2; }

.primary-content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%; }
  .primary-content:last-child {
    margin-right: 0; }

.thread--post {
  background: white;
  padding: 2.35765%;
  margin: 0 0 20px 0; }
  .thread--post_user {
    padding: 0 0 10px 0;
    border-bottom: 1px solid #f1f2f3; }
    .thread--post_user:after {
      content: "";
      display: table;
      clear: both; }
    .thread--post_user .rep {
      color: #d5d9dc; }
    .thread--post_user img {
      width: 8%;
      padding: 0 2% 0 0;
      float: left; }
    .thread--post_user-info h3 {
      text-transform: none;
      margin: 0;
      line-height: 1; }
      .thread--post_user-info h3 a {
        color: #677081; }
    .thread--post_user-info p {
      margin: 0;
      font-size: 0.75em;
      color: #737c8f;
      font-weight: 400; }
  .thread--post_body {
    padding: 20px 0;
    font-size: 0.75em; }
  .thread--post .mod-opts {
    text-align: right;
    font-size: 0.75em; }

.thread h1 {
  display: none; }

.project-grid .project {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-bottom: 3.16844%; }
  .project-grid .project:last-child {
    margin-right: 0; }
  @media screen and (min-width: 40em) {
    .project-grid .project {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      .project-grid .project:last-child {
        margin-right: 0; }
      .project-grid .project:nth-child(3n) {
        margin-right: 0; }
      .project-grid .project:nth-child(3n+1) {
        clear: left; } }

.project-grid-4up .project {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-bottom: 3.16844%; }
  .project-grid-4up .project:last-child {
    margin-right: 0; }
  @media screen and (min-width: 40em) {
    .project-grid-4up .project {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      .project-grid-4up .project:last-child {
        margin-right: 0; }
      .project-grid-4up .project:nth-child(4n) {
        margin-right: 0; }
      .project-grid-4up .project:nth-child(4n+1) {
        clear: left; } }

.project-grid:after, .project-grid-4up:after {
  content: "";
  display: table;
  clear: both; }

.project--image {
  overflow: hidden;
  position: relative;
  display: block; }
  .project--image img {
    display: block; }
  .project--image_overlay {
    position: absolute;
    background-color: #21222c;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: block;
    left: 0;
    top: 0; }
  .project--image_buttons {
    top: 40%;
    text-align: center;
    width: 100%;
    opacity: 0;
    margin-top: -10px;
    position: absolute;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .project--image_buttons span {
      padding: 5px 10px;
      display: inline-block;
      background-color: #fb1b80;
      color: #FFF;
      font-size: 0.75em; }
  .project--image:hover .project--image_overlay {
    opacity: .7; }
  .project--image:hover .project--image_buttons {
    top: 50%;
    opacity: 1; }
.project--info {
  text-align: center;
  padding: 15px 0 0; }
  .project--info h4 {
    font-size: 0.875em;
    font-weight: 400; }
  .project--info a {
    color: #677081; }
  .project--info a:hover {
    color: #fb1b80; }
  .project--info .price {
    font-weight: bold;
    margin: 0; }

.accordion-tabs-minimal:after {
  content: "";
  display: table;
  clear: both; }
@media screen and (min-width: 40em) {
  .accordion-tabs-minimal li.tab-header-and-content {
    display: inline; } }
.accordion-tabs-minimal a.tab-link {
  background-color: #f3f4f5;
  color: #333;
  display: block;
  font-weight: 400;
  padding: 8px 15px;
  margin-bottom: 20px;
  border: 1px solid #dde0e2;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  font-size: 0.8125em; }
  @media screen and (min-width: 40em) {
    .accordion-tabs-minimal a.tab-link {
      display: inline-block; } }
  .accordion-tabs-minimal a.tab-link:hover {
    color: #fb1b80; }
  .accordion-tabs-minimal a.tab-link:focus {
    outline: none; }
  .accordion-tabs-minimal a.tab-link.is-active {
    border-bottom: 0;
    background: #fb1b80;
    color: #FFF; }
    @media screen and (min-width: 40em) {
      .accordion-tabs-minimal a.tab-link.is-active {
        border-color: #fb1b80; } }
.accordion-tabs-minimal .tab-content {
  display: none; }
  @media screen and (min-width: 40em) {
    .accordion-tabs-minimal .tab-content {
      float: left; } }

.auth--block {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  padding: 2.35765%;
  background: white;
  font-size: 0.8125em; }
  .auth--block:last-child {
    margin-right: 0; }
  .auth--block p {
    font-size: 1em; }
  .auth--block .forgot {
    display: block; }

label {
  color: #21222c;
  cursor: pointer; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  padding: 10px 15px; }

.user--info {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  padding: 20px;
  background-color: white;
  text-align: center; }
  .user--info:last-child {
    margin-right: 0; }
  .user--info_avatar {
    margin-right: 15px; }
  .user--info_info {
    text-align: left; }
    .user--info_info h2 {
      font-size: 1.5em;
      margin: 0;
      font-weight: bold; }
    .user--info_info ul {
      width: 100%; }
    .user--info_info li + li {
      border-top: 1px solid #e5e7e9; }
    .user--info_info li {
      font-size: 0.8125em;
      padding: 10px 0; }
      .user--info_info li span {
        float: right;
        background: #fb1b80;
        border-radius: 5px;
        color: #FFF;
        padding: 0 5px; }

.user--posts {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%; }
  .user--posts:last-child {
    margin-right: 0; }
  .user--posts h2 {
    font-size: 2em;
    font-weight: bold; }

/*# sourceMappingURL=app.css.map */
